$box-shadow: 0 2px 10px rgba(#686868, 0.3);

.header{
  // position: fixed;
  padding: 20px;
  width: 100%;
  background-color: #fff;
  box-shadow: $box-shadow;
  .logH1{
    display: block;
    width: 140px;
    height: 21px;
    margin-bottom: 20px;
    @include _logoH1;
  }
}

.nav{
  display: flex;
  gap: 10px;
  li{
    display: grid;
  }
}